nav {
  padding-top: 20px;
  padding-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
  color: #333;
}

#dashboard {
  margin-top: 16vh;
}

#dashboard a {
  text-decoration: none;
}

#dashboard h1 {
  font-weight: 700;
  color: #333;
  margin-bottom: 4vh;
}

#dashboard img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 280px;
}

#dashboard h2 {
  position: absolute;
  bottom: 30px;
  color: #fff;
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  margin-left: 10px;
  z-index: 10;
}

#dashboard .layer {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin-left: 15px;
  margin-right: 15px;
}

#dashboard .category_card {
  margin-bottom: 30px;
}

#dashboard_main {
  margin-top: 16vh;
}

#dashboard_main a {
  color: #999;
}

#dashboard_main a:hover {
  color: #333;
}

#dashboard_main .selected {
  color: #333;
}

#dashboard_main h1 {
  font-weight: 700;
  color: #333;
}

#dashboard_grid {
  margin-top: 2vh;
  margin-bottom: 10vh;
}

#dashboard_grid .dashboard_card {
  background-color: #fafafa;
  padding: 0px;
  color: #333;
  height: 450px;
  margin-bottom: 30px;
}

#dashboard_grid .dashboard_card img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

#dashboard_grid .dashboard_card .info {
  padding: 20px;
}

#dashboard_grid .dashboard_card .info h3 {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#dashboard_grid .dashboard_card .info h4 {
  margin-top: 4px;
  font-size: 18px;
  color: #818181;
}

#dashboard_grid .dashboard_card .info h5 {
  margin-top: 4px;
  font-size: 16px;
}

#dashboard_grid .dashboard_card .info h6 {
  font-size: 14px;
  display: inline-block;
  margin-right: 6px;
}

#dashboard_grid .dashboard_card .info h6 span {
  font-weight: bold;
  color: #000;
}

#dashboard_grid .dashboard_card .dashboard_action {
  display: inline-block;
  margin-right: 4px;
  background-color: #333;
  border: 0px;
  color: #fff;
  padding: 6px 12px;
  text-decoration: none;
  border: 1px solid #333;
  transition: 0.4s;
}

#dashboard_grid .dashboard_card .dashboard_action:hover {
  background-color: #fafafa;
  color: #333;
}

#dashboard_grid .dashboard_card .delete {
  display: inline-block;
}

#dashboard_grid .dashboard_card .delete .dashboard_action:hover {
  color: red;
}

#dashboard_grid .dashboard_card .new_product {
  height: 280px;
  color: #333;
  font-size: 60px;
  text-align: center;
}

#dashboard_grid .new:hover {
  cursor: pointer;
}

#dashboard_create {
  color: #333;
  margin-top: 16vh;
  margin-bottom: 10vh;
}

#dashboard_create a {
  color: #999;
}

#dashboard_create a:hover {
  color: #333;
}

#dashboard_create h1 {
  font-weight: 700;
  color: #333;
}

#dashboard_create h3 {
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 22px;
}

#dashboard_create h6 {
  font-style: italic;
  margin-top: 12px;
  color: #999;
}

#dashboard_create label {
  font-weight: 700;
}

#dashboard_create form {
  margin-top: 4vh;
}

#dashboard_create input,
#dashboard_create textarea {
  border: 1px solid #e1e1e1;
  border-radius: 0px;
  resize: none;
}

#dashboard_create .create_btn {
  margin-top: 2vh;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 6px 22px;
}

#dashboard_detail {
  margin-bottom: 10vh;
  color: #333;
  margin-top: 16vh;
}

#dashboard_detail a {
  color: #999;
}

#dashboard_detail a:hover {
  color: #333;
}

#dashboard_detail h1 {
  font-weight: 700;
  color: #333;
  margin-bottom: 4vh;
}

#dashboard_detail h4 {
  margin-top: 4px;
  font-size: 18px;
  color: #818181;
}

#dashboard_detail p {
  margin-top: 10px;
  font-style: italic;
}

#dashboard_detail h6 {
  font-size: 14px;
  display: inline-block;
  margin-right: 6px;
}

#dashboard_detail h6 span {
  font-weight: bold;
  color: #000;
}

#dashboard_detail img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

#dashboard_detail .actions {
  position: absolute;
  bottom: 0px;
  margin-top: 20px;
}

#dashboard_detail .actions .dashboard_action {
  display: inline-block;
  margin-right: 4px;
  background-color: #333;
  border: 0px;
  color: #fff;
  padding: 6px 12px;
  text-decoration: none;
  border: 1px solid #333;
  transition: 0.4s;
}

#dashboard_detail .actions .dashboard_action:hover {
  background-color: #fafafa;
  color: #333;
}

#dashboard_detail .actions .delete {
  display: inline-block;
}

#dashboard_detail .actions .delete .dashboard_action:hover {
  color: red;
}

@media (max-width: 767px) {
  #dashboard_detail img {
    margin-bottom: 40px;
  }

  #dashboard_detail .actions {
    position: relative;
  }
}

